{% extends 'base.html' %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block body %}
    <div style="display: inline;">
        <a style="float: left; font-size: 26px; margin: 10px;">Crypto Automation</a>
        {% if user.is_authenticated %}
            <form action="/accounts/logout/" method="post">
                {% csrf_token %}
                <input type="submit" style="float: right; margin: 10px;" value="Log Out"/>
            </form>
            <a style="float: right; margin: 10px;" href="/dashboard">Dashboard</a>
        {% else %}
            <a style="float: right; margin: 10px; " href="/accounts/login">Log In</a>
        {% endif %}
    </div>
{% endblock %}